<header class="bg-primary-blue py-3 md:py-[14px]">
  <div class="container">
    <nav class="flex items-center justify-between gap-6">
      <!-- Hamburger Menu -->
      <div class="md:hidden">
        <app-menu-modal-button />
      </div>

      <!-- Logo -->
      <a routerLink="/">
        <div class="flex items-center gap-2">
          <img src="assets/icons/logo.svg" alt="Houzing" class="w-7 md:w-8 h-8 md:h-9" />
          <h4 class="text-white text-xl font-medium">Houzing</h4>
        </div></a
      >

      <!-- Navigation Links -->
      <ul class="hidden md:flex items-center gap-10 lg:gap-12 xl:gap-14 2xl:gap-16">
        <li *ngFor="let item of menu">
          <a
            [routerLink]="item.path"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLinkActive="border-b-1 border-white font-semibold"
            class="text-white text-[16px] font-normal hover:font-semibold hover:border-b-1 hover:border-white transition-all duration-300"
            >{{ item.label }}</a
          >
        </li>
      </ul>

      <!-- User Icon -->
      <ng-container *ngIf="!authService.isAuthenticated; else loggedIn">
        <a routerLink="/auth/sign-in">
          <button class="text-white" z-button zType="destructive">Sign In</button>
        </a>
      </ng-container>
      <ng-template #loggedIn>
        <div>
          <img
            src="assets/icons/user.svg"
            alt="User"
            class="w-5 md:w-6 h-5 md:h-6"
            z-dropdown
            [zDropdownMenu]="menu"
          />
          <z-dropdown-menu-content #menu="zDropdownMenuContent" class="w-56">
            <z-dropdown-menu-label>My Account</z-dropdown-menu-label>

            <z-dropdown-menu-item (click)="onProfile()">
              Profile
              <z-dropdown-menu-shortcut>⇧⌘P</z-dropdown-menu-shortcut>
            </z-dropdown-menu-item>

            <z-dropdown-menu-item>
              Settings
              <z-dropdown-menu-shortcut>⌘S</z-dropdown-menu-shortcut>
            </z-dropdown-menu-item>

            <z-divider zSpacing="sm" class="-mx-1"></z-divider>

            <z-dropdown-menu-item (click)="onLogout()" class="hover:bg-red-500 hover:text-white flex items-center justify-between">
              Log out
              <span>⇧⌘Q</span>
            </z-dropdown-menu-item>
          </z-dropdown-menu-content>
        </div>
      </ng-template>
    </nav>
  </div>
</header>
